# Question 1
Write a Pandas program to create and display a one-dimensional array-like object containing an array of [1,2,3,4,5,6] of data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
D=[1,2,3,4,5,6]
type(D)
pd.Series(D)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

# Question 2
Write a Pandas program to convert a Panda module Series of [9,8,7,6,5,4,3,2,1] to Python list and it's type.

In [3]:

a=pd.Series([9,8,7,6,5,4,3,2,1])

In [4]:
a.to_list

<bound method IndexOpsMixin.tolist of 0    9
1    8
2    7
3    6
4    5
5    4
6    3
7    2
8    1
dtype: int64>

# Question 3
Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [1,2,3,4,5,6], [6,5,4,3,2,1]

In [5]:
s1=pd.Series([1,2,3,4,5,6])
s2=pd.Series([6,5,4,3,2,1])

In [6]:
add=s1+s2
add

0    7
1    7
2    7
3    7
4    7
5    7
dtype: int64

In [7]:
subtract=s1-s2
subtract

0   -5
1   -3
2   -1
3    1
4    3
5    5
dtype: int64

In [8]:
multiply=s1*s2
multiply

0     6
1    10
2    12
3    12
4    10
5     6
dtype: int64

In [9]:
divide=s1/s2
divide

0    0.166667
1    0.400000
2    0.750000
3    1.333333
4    2.500000
5    6.000000
dtype: float64

# Question 4
Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [9,8,7,6,5,4,3,2,1] [1,2, 3,4, 5,6, 7,8,9]

In [10]:
s_1=pd.Series([9,8,7,6,5,4,3,2,1])
s_2=pd.Series([1,2, 3,4, 5,6, 7,8,9])

In [44]:
equal_res=s_1==s_2
greater_res=s_1>s_2
lesser_res=s_1<s_2

print("Equality of series s_1 and s_2",equal_res)
print("greater than s_1 and s_2",greater_res)
print("Lesser than s_1 and s_2",lesser_res)

Equality of series s_1 and s_2 0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool
greater than s_1 and s_2 0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool
Lesser than s_1 and s_2 0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

# Question 5 
Write a Pandas program to convert a dictionary to a Pandas series. Sample dictionary: dl = fa": 10, 'b': 20, 'c':30, 'd':40,

In [12]:
dl = {'fa': 10, 'b': 20, 'c':30, 'd':40}

In [13]:
pd.Series(dl)

fa    10
b     20
c     30
d     40
dtype: int64

# Question 6 
Write a Pandas program to convert a NumPy array to a Pandas series. Sample NumPy array: dl = [1, 2, 3, 4, 5,6,7,8,9,10]

In [14]:
d_1 = np.array([1, 2, 3, 4, 5,6,7,8,9,10])

In [15]:
pd.Series(d_1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32


# Question 7 
Write a Pandas program to sort a Series [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [16]:
a1=pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

In [17]:
sorted(a1)

[20, 50, 70, 100, 100, 110, 180, 250, 260, 300, 320, 360, 590, 640, 830, 960]

# Question 8 
Write a Pandas program to get the items of a given series not present in another given series.

In [18]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([9,8,7,6,5])

In [19]:
 s1[~s1.isin(s2)]

0    1
1    2
2    3
3    4
dtype: int64

# Question 9 
Write a Pandas program to change the order of index of a given series.

In [20]:
w1=pd.Series(data=[1,2,3,4,5],index=[9,8,7,6,5])
w1.reindex(index=[8,9,7,6,5])

8    2
9    1
7    3
6    4
5    5
dtype: int64

# Question 10 

Write a Pandas program to change the data types. Sample Series: 
Actual Data Series: [ Ajay, 10, python, 15.03, 25] dtype: object
Modified Data Series : [Nan, 10.00, Nan, 15.03, 25.00] dtype: float64

In [21]:
Actual_Data_Series=pd.Series(["Ajay", 10, "python", 15.03, 25])

In [22]:
Actual_Data_Series.dtypes

dtype('O')

In [23]:
Actual_Data_Series=pd.to_numeric(Actual_Data_Series,errors="coerce")

In [24]:
Actual_Data_Series

0      NaN
1    10.00
2      NaN
3    15.03
4    25.00
dtype: float64

In [25]:
(Actual_Data_Series).dtype

dtype('float64')

# Question 11 
Pandas program to convert the second column of a DataFrame as a Series d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [26]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [27]:
pd.Series(d["col2"])

0    4
1    5
2    6
3    9
4    5
5    0
dtype: int64

# Question 12

Write a Pandas program to get the items which are not common of two given series.
[1, 2, 3, 4, 5], [7, 6, 5, 4, 3]

In [28]:
a=pd.Series([1, 2, 3, 4, 5])
b=pd.Series([7, 6, 5, 4, 3])

In [29]:
a1=a[~a.isin(b)].append( b[~b.isin(a)])

C:\Users\ROHIT\AppData\Local\Temp\ipykernel_12560\3679431374.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a1=a[~a.isin(b)].append( b[~b.isin(a)])

In [30]:
a1

0    1
1    2
0    7
1    6
dtype: int64

# Question 13
Pandas program to find the minimum, 20th percentile, 50th percentile, 80th, and maximum
of a given series of [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640,
590, 260]

In [31]:
d1=pd.Series( [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

In [32]:
Min=min (d1)
PN_20=d1.quantile(0.2)
PN_50=d1.quantile(0.5)
PN_80=d1.quantile(0.8)
Max=max (d1)
print("Minimum of Series is: ",Min)
print("20th Percentile of Series is:",PN_20)
print("50th Percentile of Series is:",PN_50)
print("Maximum of Series is: ",Max)

Minimum of Series is:  20
20th Percentile of Series is: 100.0
50th Percentile of Series is: 255.0
Maximum of Series is:  960

# Question 14
Write a Pandas program to create 6 subset of a given series of [0, 1,2,3,4,5,6,7,8,9,10]
based on value

In [33]:
s1=pd.Series([0, 1,2,3,4,5,6,7,8,9,10])

In [34]:
#subset of series lesser than or equal to 3
sub_1=s1[s1<=3]
print("subset 1:",sub_1)

subset 1: 0    0
1    1
2    2
3    3
dtype: int64

In [35]:
#subset of series lesser than or equal to 4
sub_2=s1[s1<=4]
print("subset 2:",sub_2)

subset 2: 0    0
1    1
2    2
3    3
4    4
dtype: int64

In [36]:
#subset of series lesser than or equal to 5
sub_3=s1[s1<=5]
print("subset 3:",sub_3)

subset 3: 0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [37]:
#subset of series lesser than or equal to 6
sub_4=s1[s1<=6]
print("subset 4:",sub_4)

subset 4: 0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [38]:
#subset of series lesser than or equal to 7
sub_5=s1[s1<=7]
print("subset 5:",sub_5)

subset 5: 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [39]:
# subset of series greater than 8 and less than or equal to 10
sub_6=s1[(s1>8)& (s1<=10)]
print("subset 6:",[sub_6])

subset 6: [9      9
10    10
dtype: int64]

# Question 15

Write a Pandas program to add 400 to data to an existing Series [100, 20, 300, 250, 50,
360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [40]:
Series=pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

In [41]:
S1=Series.append(pd.Series(["400"]))

C:\Users\ROHIT\AppData\Local\Temp\ipykernel_12560\2489149712.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  S1=Series.append(pd.Series(["400"]))

In [42]:
S1

0     100
1      20
2     300
3     250
4      50
5     360
6      70
7     180
8     960
9     100
10    110
11    320
12    830
13    640
14    590
15    260
0     400
dtype: object