# Question 1


Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
i.First task is to create a list which has elements from both the list & name it 'ab'  
ii.Write a function which can reverse the elements of ab.

In [152]:
a=[1,3,5,7]
b=[2,4,6,8,10]
c=a+b
def reverse_list(lst):
    lst.reverse()
    return lst

# Question 2


Can a list be converted into a set? Explain with the help of an example.

In [32]:
#yes list can be converted to a set
l=[1,2,3,4]
print(set(l))

{1, 2, 3, 4}

# Question 3
\
Extract 3000 from the given list
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]

In [43]:
Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]
print(Y[-1][1])

3000

# Question 4


Extract '09' from this:
G=["2022-09-03"]

In [51]:
 G=["2022-09-03"]
G[0][6]

'9'

# Question 5


Write a code to add a key to a dictionary
Use the given dictionary and add a key (4:16)

square_dictionary = {1:1, 2:4, 3:9}

In [62]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary[4]=16
print(square_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16}

# Question 6


(i)Count the occurence of "me" in the given string below.
(ii)Extract "python@gmail"
str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"

In [156]:
str1="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
print(str1.count("me"))
print(str1.split()[-1])

3
python@gmail.com

In [151]:
#for finding only python@gmail
a1=str1.split()[-1].split(".")[0]
a1

'python@gmail'

# Question 7


Write a program to perform following set operations:

a. Union
b. Intersection
c. Set of all the elements of set A that are not in set B
d. Set of all the elements of set B that are not in set A
e. Symmetric difference
Use the below set:

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [158]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
union=A.union(B)
intersection=A.intersection(B)
C=A.difference(B)
D=B.difference(A)
E=A.symmetric_difference(B)
print(union,intersection,C,D,E)

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87} {3, 5, 6, 7} {1, 2, 4, 71, 40, 87} {8, 42, 51, 54} {1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

# Question 8


Write the program to perform following manipulations:

a. Add '7' to the given set
b. Remove '3' from a given set
c. Clear the set
Use the below set for manipulation

num_set = {1, 2, 3, 4, 5, 6}

In [91]:
num_set = {1, 2, 3, 4, 5, 6}
# Adding 7 to the set
num_set.add(7)
print("Set after adding 7:", num_set)

# Removing 3 from the set
num_set.remove(3)
print("Set after removing 3:", num_set)

# Clearing the set
num_set.clear()
print("Set after clearing:", num_set)

Set after adding 7: {1, 2, 3, 4, 5, 6, 7}
Set after removing 3: {1, 2, 4, 5, 6, 7}
Set after clearing: set()

# Question 9


Replace the elements in the given tuple:

a. Replace '2' with '3'
b. Replace 'True' in first element with 'False'
Use the tuple below:

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [28]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
l1=list(mix_tuple)
#a. Replace '2' with '3'
l1[1]=3
#b. Replace 'True' in first element with 'False' 
l1[0][2]="False"
print(l1)

[['a', 1, 'False'], 3, 'Science', -5]

# Question 10


Write a code to perform operations on tuple:

a. Check the length of num_tuple
b. Concatenate the num_tuple and mix_tuple
c. Repeat the mix_tuple two times
Tuples to perform operations:

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

In [159]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2
#a. Check the length of num_tuple 
len(num_tuple)
# b. Concatenate the num_tuple and mix_tuple 
new=num_tuple+mix_tuple
print(new)
#c. Repeat the mix_tuple two times
print(mix_tuple*2)

(4, 4, 8, 'John', 5, -2)
('John', 5, -2, 'John', 5, -2)

# Question 11


Write a program to perform following built-in list operations:

a. Min(list)
b. Max(list)
c. Sort the elements (use sort() and sorted() function)
d. Create a copy of a list
e. Remove element '5' from the list

Use the below list

num_list = [4, 5, 7, -2, 0, 1]

In [70]:
num_list = [4, 5, 7, -2, 0, 1]
print("minimum of list is :",min(num_list))
print("minimum of list is :",max(num_list))
#c. Sort the elements (use sort() and sorted() function) 
print("sorted list is :",sorted(num_list))
 #d. Create a copy of a list
print("copy of list is",num_list.copy())
#e. Remove element '5' from the list
num_list.remove(0)
print(num_list)

minimum of list is : -2
minimum of list is : 7
sorted list is : [-2, 0, 1, 4, 5, 7]
copy of list is [4, 5, 7, -2, 0, 1]
[4, 5, 7, -2, 1]

# Question 12

Write a code to retrieve elements from a list

a. First element
b. Second last element
c. First three elements
d. Slice the list from 1st index till the last index with an increment of an index by 2
Use the below list:

mix_list = ['Python', 1, 2, 3, 'Data', True]

In [160]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
#a. First element
print(mix_list[0])
#b. Second last element
print(mix_list[-2])
#c. First three elements 
print(mix_list[0:3])
#d. Slice the list from 1st index till the last index with an increment of an index by 2 
print(mix_list[1:-1:2])

Python
Data
['Python', 1, 2]
[1, 3]

# Question 13



Write the program to multiply the two lists
Lists to perform multiplication:

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [97]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]

result_list = [num_list_1[i] * num_list_2[i] for i in range(len(num_list_1))]

print(result_list)

[0, 10, 6, 4]

# Question 14


Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1
B. Concatenate the mix_list_1 and mix_list_2
C. Repeat the mix_list_2 three times

Lists to perform operations:

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

In [113]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

print("Length of mix_list_1:", len(mix_list_1))
d1=(mix_list_1+(mix_list_2))
print(d1)
print(mix_list_2*2)

Length of mix_list_1: 5
['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']
[4, 7, 'Summer', 4, 7, 'Summer']

# Question 15


Create a string with a name 'country' and 'India' as its elements. Perform the following:
 a. Find its length
 b. extract its first two letters

In [121]:
country="India"
print(len(country))
print("first two letters are ",country[0:2])

5
first two letters are  In