# Question 1


Write a program to print the product of two numbers 'x' and 'y'

In [3]:
a1=int(input ("1 number" ))
a2=int(input ("2 number"))
x=a1
y=a2
c=x*y
print("product of your numbers is",c)

1 number2
2 number2
product of your numbers is 4

# Question 2

4 Marks

    Display the following pattern using single print().
    *
    **
    ***
    ****

In [4]:
for i in range (5):
 print("*"*i)

*
**
***
****

# Question 3



Write a Python program to print the calendar of a given month and year.

    Note : Use the 'calendar' module.

In [5]:
import calendar
print(calendar.month(2022,11))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

# Question 4


Display the sum of 5 + 10, using two variables: x and y.

In [8]:
x=5
y=10
print(x+y)

15

# Question 5


Create a variable called z, assign x + y to it, and display the result.(you can take any values of x&y).

In [12]:
x=1
y=3
z=x+y
print(z)

4

# Question 6


Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [15]:
a1=input("your first name")
a2=input("your last name")
print(a2+" "+a1)

your first namerohit
your last namevyavahare
vyavahare rohit

# Question 7

Assign the value 299792458 to the variable speed_of_light

In [19]:
speed_of_light=299792458
print(speed_of_light)

299792458

# Question 8


Create variables to hold the values 20&3 
print the result of 20/3 as a whole number and a remainder.
eg: the ans is 6 with a remainder of 2

In [1]:
a=20
b=3
c=int(20/3)
d=20%3
print(f"the answer is {c} with a remainder of {d}")

the answer is 6 with a remainder of 2

# Question 9


Print the result of 3 raise to the 5th power.
eg: 3 raised to the 5 power is 243

In [24]:
b=3**(5)
print(b)

243

# Question 10

Create three variables to hold strings- title,first and last names.
print "hello<title> <first> <last> " using four different print statements
eg: hello mr orville wright

In [29]:
title = "Mr"
first = "orville"
last = "wright"

print("hello", end=" ")
print(title, end=" ")
print(first, end=" ")
print(last)

hello Mr orville wright

# Question 11


Create a variable named var1 that contains the result of 10/3.
print the result limiting the display of the variable to 2 decimal places.
eg: the result is 3.33

In [41]:
var1=(10/3)
print (round(var1,2))

3.33

# Question 12

Create a variable named a that contains the no. 4
Create a variable named b that contains the no. 5
Create a variable named c that contains the sum of a &b
print the result.

In [50]:
a=4
b=5
c=a+b
print("The sum of", a, "and", b, "is", c)

The sum of 4 and 5 is 9

# Question 13

4 Marks

Write a program to convert the value of 'pi' to integer.

In [46]:
pi=3.14
pi=int(pi)
print(pi)

3

# Question 14


Write a program to swap the two integers passed as runtime variables.

In [53]:
# accept two integers as runtime variables
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# print the original values
print("Before swapping: num1 =", num1, "and num2 =", num2)

# swap the values using a temporary variable
num1,num2=num2,num1

print("after swapping numbers are:num1=",num1,"and num2=",num2)

Enter the first number: 1
Enter the second number: 2
Before swapping: num1 = 1 and num2 = 2
after swapping numbers are:num1= 2 and num2= 1

# Question 15


Find the remainder after dividing 542 by 16.

In [55]:
a=542%16
print(a)

14