Question 1
Using union operation add to sets containing the values of days of weeks;

In [1]:
days={"mon","tue","wed","thu","fri","sat","sun"}

In [5]:
values={1,2,3,4,5,6,7,}

In [6]:
days.union(values)

{1, 2, 3, 4, 5, 6, 7, 'fri', 'mon', 'sat', 'sun', 'thu', 'tue', 'wed'}

Question 2


Initilize a set having months as values from January to At, then add the rest of months to it:
    InitilizeTheSet = (‘January’, ‘February’,’March’)

Question 3

Create a freeze set containg name of weeks and delete the last elemnt of the set:

In [104]:
weekdays=frozenset(["mon","tue","wed","thu","fri","sat","sun"])
weekdays=list(weekdays)

In [105]:
weekdays[0:-1]

['mon', 'wed', 'sat', 'fri', 'thu', 'sun']

Question 4


Make a set containing week days and print the values from Monday to Sunday

    Hint: use frozenset

Question 5


Find if the value h is in the given tuple:

        Valuee = (‘EkeedaIsTheBest’)

Question 6


Print the tuple values 5 times
    Value = (‘ekeeda’’)

Question 7

Tuple operations;
Var = ('p','r','o','g','r','a','m','i','n’, ‘i’,’s’,’f’,’u’,’n')

Print values between 5-8; 6-11; 5-9

Question 8


Remove the elements from the set in single operation
    set1 = {10, 20, 30, 40, 50}

Question 9


Evaluate if the values in the tuple are same.

    Tup = (11,11,11,11,11)

Question 10


Sort a tuple of tuple of tuples based on the second item in it :

        tup = ((x, 20), (y, 10), ('y', 45), ('z', 33))

Question 11

Write a Python program to see if the given sets have no common elements?
x = {1,2,3,4}
y = {4,5,6,7}
z = {8,9,10}

Question 12


Write a Python program to compute the sum of nested tuples:
    nums = [(1,2,22), (2,44,-44), (2,4), (2,2,2,2.2)]

Question 13


Return a set of elements that are not present in both sets A and B:
    A = {30, 40, 50, 60, 70}
    B = {10, 20, 30, 40, 50}

In [23]:
A = {30, 40, 50, 60, 70}
B = {10, 20, 30, 40, 50}

In [72]:
present=A.intersection(B)
present

{30, 40, 50}

Question 14



Add a list of elements to a set;
sett= {"a", "b", "c"}
li = ["x", "y", "z"]

In [7]:
sett= {"a", "b", "c"} 
li = ["x", "y", "z"]

In [8]:
sett.union(li)

{'a', 'b', 'c', 'x', 'y', 'z'}

Question 15

Write a Python program to find the total number of times an item appeared in the tuple.
Item= 2, 4, 5, 6, 2, 3, 4, 4, 7

In [60]:
Item= 2, 4, 5, 6, 2, 3, 4, 4, 7

In [61]:
for i in Item:
    print(f"no.of times {Item[i]} appeared: {Item.count(i)}")

no.of times 5 appeared: 2
no.of times 2 appeared: 3
no.of times 3 appeared: 1
no.of times 4 appeared: 1
no.of times 5 appeared: 2
no.of times 6 appeared: 1
no.of times 2 appeared: 3
no.of times 2 appeared: 3
no.of times 4 appeared: 1