# Question 1


Accept a number and check whether it is palindrome or not.

# Question 2


Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.

# Question 3

Write a program to find the sum of the digits of a number accepted from user

In [5]:
num_1=int(input("Enter first number:",))
num_2=int(input("Enter second number:",))
print(num_1+num_2)

Enter first number:2
Enter second number:2
4

# Question 4


Write a program to find the factorial of a number.

# Question 5


Write a program to display the product of the digits of a number accepted from the user.

In [14]:
digits=(int(input("enter your digits")))
for i in range(digits):
    print(i*i)

enter your digits2
0
1

# Question 6

Calculate the average of the number given in the list through loop.
list1=[34,6,43,2,32,44,55,33,32]

In [17]:
list1=[34,6,43,2,32,44,55,33,32]
for i in list1:
    print((i*i)/2)

578.0
18.0
924.5
2.0
512.0
968.0
1512.5
544.5
512.0

# Question 7


Write a program swap the keys to values and values to keys of the given dictionary. Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [19]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}

# 
# Question 8



Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] Output: ['Monday', 'Sunday', 'Saturday']

In [ ]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
for in Days:
    if Days ==Days.

# Question 9


Write a program to count all the elements from wrong text but it should not consider space and vowels

    wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"""

# Question 10


Remove duplicates from the given list num2 using loop.
num2=[1,2,3,41,3,5,4,56,4,56,4,4,36,6,66,6,645,3,3,5,6,8]

# Question 11


Write a program to check whether two numbers are amicable or not (take the input from the user).

# Question 12


Write a program to check whether a number is prime or not (take the input from user)

# Question 13


Reverse string using a for loop (take the input from user).

# Question 14

Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

# Question 15

Write a code to print table of 5 using assignment operand +=.(using while)